/Agustin Lebron - The Laws of Trading_ A Trader’s Guide to Better Decision-Making for Everyone (2019, Wiley) - libgen.li.pdf
/FX Derivatives Trader School (Giles Peter Jewitt) (Z-Library).pdf
/ZHU ELLEN CV.pdf